PORT=3000
NODE_ENV=production

DATABASE_URL=
JWT_SECRET=

FRONTEND_URL=
CLIENT_URL=
APP_URL=
FRONTEND_RESET_PASSWORD_URL=
FRONTEND_PLAYLIST_URL=
RESET_PASSWORD_TOKEN_TTL_MS=1800000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Cifras Caritas <seu_email@gmail.com>"

AWS_REGION=auto
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=tlcifras-uploads
AWS_S3_ENDPOINT=https://1c86c69ce9b10d0967909598aad06c1c.r2.cloudflarestorage.com
